@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<section class="p-2 bg-light" style="min-height:90vh">
    <div class="container">
        <main role="main" class="pb-3">
            <section class="section-intro padding-top-sm">
                <div class="container">
                    <main class="card p-3">
                        <div class="row">
                            <aside class="col-lg-3">
                                <nav class="nav flex-column nav-pills">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <a class="nav-link" href="#"><img src=@string.Format($"/storage/images/{category.Image}") width="25" height="25" /> @category.Name</a>
                                    }
                                </nav>
                            </aside>
                            <div class="col-lg-9">
                                <article class="card-banner p-5 bg-primary" style="height: 360px">
                                    <div style="max-width: 500px">
                                        <h2 class="text-white">Learning that gets you</h2>
                                        <p class="text-white">Skills for your present (and your future). Get started with us.</p>
                                        <a href="#" class="btn btn-warning"> View more </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </main>
                </div> <!-- container end.// -->
            </section>
            <!-- ================ SECTION PRODUCTS ================ -->
            <section class="padding-top">
                <div class="container">
                    @foreach (var category in Model.Categories)
                    {
                        @if (category.Courses.Count > 0)
                        {
                            <div id="category_products">
                                <header class="section-heading">
                                    <h3 class="section-title">@category.Name</h3>
                                </header>
                                <div class="row">
                                    @foreach (var course in category.Courses)
                                    {
                                        <div class="col-lg-3 col-sm-6 col-12">
                                            <figure class="card card-product-grid">
                                                <div class="img-wrap">
                                                    <img src=@string.Format($"storage/images/{course.Image}")>
                                                </div>
                                                <figcaption class="info-wrap">
                                                    <span class="text-warning"><strong>@course.Title</strong></span>
                                                    @if (course.Description.Length > 45)
                                                    {
                                                        <p class="title">@course.Description.Substring(0,45)</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="title">@course.Description</p>
                                                    }
                                                    <div class="rating-wrap">
                                                        <ul class="rating-stars">
                                                            <li class="stars-active" style="width: 90%;">
                                                                <img src="alistyle/images/misc/stars-active.svg" alt="">
                                                            </li>
                                                            <li>
                                                                <img src="alistyle/images/misc/starts-disable.svg" alt="">
                                                            </li>
                                                        </ul>
                                                        <span class="label-rating text-warning">4.5</span>
                                                    </div> <!-- rating-wrap.// -->
                                                </figcaption>

                                                <div class="bottom-wrap float-end">
                                                    <a href="#" class="btn btn-primary">Enroll</a>
                                                    <a href="#" class="btn btn-light">Details</a>
                                                </div>  <!-- bottom-wrap.// -->

                                            </figure> <!-- card // -->
                                        </div> <!-- col.// -->
                                    }
                                </div>
                                <div class="row d-flex justify-content-center text-center">
                                    <a asp-controller="Store" asp-action="Products" class="btn btn-light">
                                        <i class="fa fa-reorder"></i>  <span class="ms-1 d-none d-sm-inline-block">See More</span>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div> <!-- container end.// -->
            </section>
            <!-- ================ SECTION PRODUCTS END.// ================ -->
        </main>
    </div>
</section>
